
.section-buscar {
    margin-top: 8em;
    padding: 2em;
}

.div-buscar-filtrar-cargos {
    margin-bottom: 2.5em;
}

form {
    display: flex;
    align-items: column;
    justify-content: center;
    flex-direction: row;
}

.entrada {
    font-family: 'Archivo', sans-serif;
    outline: unset;
    font-size: 18px;
    padding: 8px 15px; 
    width: 690px;
    height: 35px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 5px 3px 5px rgb(168, 167, 167);
    border: solid 1px var(--fundo-header);
}

.search-button-click {
    border-radius: 0px 4px 4px 0px;
    box-shadow: 5px 3px 5px rgb(168, 167, 167);
    border: none;
    background: var(--secundaria);
    margin-left: -6px;
}

.search-img {
    height:35px;
    width: 45px;
    padding: 6px;
}

.filter-button-click {
    border-radius: 4px;
    border: none;
    background: var(--secundaria);
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-top: 1px solid #cac5c5;
    height: 40px;
    width: 100%;
    margin-bottom: 2.2em;
}
.vagas-buscadas {
    margin-top: 1em;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
}

.filtrar {
    display: block;
    outline: unset;
    border: 1px solid transparent;
    border-radius: 7px;
}

@media (max-width: 428px) {
    .section-buscar {
        padding: 0em;
    }
    .entrada {
        font-size: 16px;
        padding: 8px 15px; 
        width: 70%;
        height: 30px;
    }
    .search-button-click {
        background: var(--fundo-header);
        margin-left: -6px;
    }
    .search-img {
        height:30px;
        width: 45px;
        padding: 6px;
    }
}
