@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Krona+One&display=swap');

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    background-color: #e8eeee;
    padding-top: 1em;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    font-weight: 12px;
}

.texto-footer {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    text-align: center;
}
