@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Krona+One&display=swap');

@import url(partials/header.css);
@import url(login/login.css);
@import url(partials/navegation_bar.css);
@import url(buscar.css);
@import url(vagas.css);
@import url(perfil.css);
@import url(partials/loader.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    --destaque: #00B1FD;
    --texto: #F2F2DD;
    --white: #ffffff;
    --fundo-header: #128caa;
    --primaria: #128caa;
    --secundaria: #0e7b99e5;
    --terciaria: #096b87;
    --quaternaria: #055a76;
    --quinta: #004964;
}

body {
    background-color: #f7f5f5
}

.tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */


/* .campos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B1FD;
} */

/* .campo-user {
    font-family: 'Archivo', sans-serif;
    outline: unset;
    font-size: 18px;
    padding: 8px 15px;
    width: 120px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 5px 3px 5px rgb(168, 167, 167);
    border: solid 1px #2966DD;
} */

/* .descricao-user {
    background-color: #407BFF;
} */

/* .labels-input {
    color: #ffffff;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
} */
/* .btn-control {
    display: none;
} */
.messages {
    margin-left: 13em;
    display: flex;
    align-items: center;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
  
.alert-success hr {
border-top-color: #c9e2b3;
}

.alert-success .alert-link {
color: #2b542c;
}

.alert-info {
background-color: #d9edf7;
border-color: #bce8f1;
color: #31708f;
}

.alert-info hr {
border-top-color: #a6e1ec;
}

.alert-info .alert-link {
color: #245269;
}

.alert-warning {
background-color: #fcf8e3;
border-color: #faebcc;
color: #8a6d3b;
}

.alert-warning hr {
border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
color: #66512c;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 14px;
    font-family: 'Archivo', sans-serif;
    border-radius: 5px;
    margin-bottom: 1em;
  }
  
.alert-danger hr {
border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
color: #843534;
}