{% load static %}
<section class="section-buscar" id="buscar-section">

    <div class="div-buscar-filtrar-cargos" >

        <form action="{% url 'buscar' %}">
    
            <input class="entrada" type="text" name="buscar" id="buscar" placeholder="Cargos, palavras-chaves ou empresa">
            
            <button class="search-button-click" type="submit">
                <img class="search-img" src="{% static '/assets/icones/lupa.svg' %}" alt="ícone de search">
            </button>
    
        </form>
    
        <form action="{% url 'filtrar' %}" class="form-filtros">
    
            <div class="filtros">
                <select id="tipo" name="tipo">
                    <option class="tipo" value="">Tipo de vaga</option>
                    <option value="clt">Efetivo/CLT</option>
                    <option value="pj">PJ</option>
                    <option value="aprendiz">Aprendiz</option>
                    <option value="estagio">estagio</option>
                    <option value="diaristas">Temporário</option>
                    <option value="freelancer">Freelancer</option>
                </select>
                <select id="local" name="local">
                    <option value="">Local</option>
                    <!-- {% for vagas in vagas %}
                    <option value="{{vagas.local}}"> {{vagas.local}} </option>
                    {% endfor %} -->
                    <option value="remoto">Remoto</option>
                </select>
                <select id="idioma" name="idioma">
                    <option value="idioma">Idioma da vaga</option>
                    <option value="portugues">Português</option>
                    <option value="english">English</option>
                    <option value="espanhol">Español</option>
                </select>
                <button class="filter-button-click" type="submit">
                    <img src="{% static '/assets/icones/filtro.svg' %}" width="45px" height="35px" padding= "6px" alt="ícone de search">
                </button>
            </div>
    
        </form>
        <!-- <form action="{% url 'filtrar' %}" class="form-control">
            <div class="filtros">
                <button class="filtrar" type="submit">
                    <select id="tipo" name="tipo">
                        <option class="tipo" value="">Tipo de vaga</option>
                        <option value="clt">Efetivo/CLT</option>
                        <option value="pj">PJ</option>
                        <option value="aprendiz">Aprendiz</option>
                        <option value="estagio">estagio</option>
                        <option value="diaristas">Temporário</option>
                        <option value="freelancer">Freelancer</option>
                    </select>
                </button>
                <button class="filtrar" type="submit">
                    <select id="local" name="local">
                        <option value="">Local</option>
                        <option value="remoto">Remoto</option>
                    </select>
                </button>
                <button class="filtrar" type="submit" aria-haspopup="menu" aria-expanded="false" aria-controls="filter-loc-menu" aria-hidden="true">
                    <select id="idioma" name="idioma">
                        <option value="idioma">Idioma da vaga</option>
                        <option value="portugues">Português</option>
                        <option value="english">English</option>
                        <option value="espanhol">Español</option>
                    </select>
                </button>
            </div>
        </form> -->
    </div>

    <div class="line">
        <p class="vagas-buscadas">Vagas: {{ palavra }}</p>
    </div>

</section>
