{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca vagas de emprego | Terceiriza Br</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/assets/icones/lgt.png' %}">
</head>
<body>
    {% include 'partials/_header.html' %}
    {% include 'partials/_alertas.html' %}
    {% block content%}{% endblock %}
</body>
{% include 'partials/_footer.html' %}
</html>