{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Projetos e Trabalhos para Profissionais Freelancers | Freelaworks</title>
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/assets/icones/logo_f.png' %}">
</head>

<body>
    {% include 'partials/_header.html' %}
    {% include 'partials/_alertas.html' %}
    {% include 'partials/_navegation_bar.html' %}
    {% block content%}{% endblock %}

</body>
<!-- {% include 'partials/_footer.html' %} -->

</html>
