{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca vagas de emprego | Terceiriza Br</title>
    <link rel="stylesheet" href="{% static '/styles/header.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a class="nome-logo" href="{% url 'minhas_vagas' %}">Terceiriza BR</a>
            <img src="{% static '/assets/icones/brasil.png' %}" width="45px" height="45px" alt="logo">
            <img class="logo-img" src="{% static '/assets/icones/logo.svg' %}" width="44px" height="44px" alt="logo"></a>
        </div>
        <div class="menu">
            <a href=""><img src="{% static '/assets/icones/notificacao.svg' %}" width="25px" height="25px" alt="notificacao"></a>
            <a href=""><img src="{% static '/assets/icones/configuracao.svg' %}" width="25px" height="25px" alt="configuracao"></a>
            <a href="{% url 'perfil_empresa' %}"><img src="{% static '/assets/icones/user.svg' %}" width="25px" height="25px" alt="user"></a>
            <p class="pipe">|</p>
            <a class="empresas-vagas" href="{% url 'minhas_vagas' %}">Empresas/Anunciar vagas</a>
        </div>
    </div>
</body>
</html>