{% load static %}
<div class="header">
    <div class="logo">
        <a href="/"><img src="{% static '/assets/icones/logo_f.png' %}" width="80px" height="80px" alt="logo"></a>
        <a class="nome-logo" href="{% url 'candidatos' %}">Freelaworks</a>
    </div>
    <div class="menu">
        <!-- <a href=""><img src="{% static '/assets/icones/notificacao.svg' %}" width="25px" height="25px" alt="notificacao"></a>
        <a href=""><img src="{% static '/assets/icones/configuracao.svg' %}" width="25px" height="25px" alt="configuracao"></a> -->
        <div class="dropdown">
            <span><a href="{% url 'perfil_empresa' user %}"><img src="{% static '/assets/icones/user.svg' %}" width="25px" height="25px" alt="user"></a></span>
            <div class="dropdown-content">
                <a href="{% url 'perfil_empresa' user %}">Perfil</a>
                <a href="{% url 'logout_empresa' %}">Sair</a>
            </div>
            </div>
        <p class="pipe">|</p>
        <a class="empresas-vagas" href="{% url 'dashboard' %}">Empresas/Anunciar vagas</a>
    </div>
</div>
