
body {
    background-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
}

.section-loader {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 15em;
    height: 90%;
}

.div-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 2em;

}

.titulo-home {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

/* .loader {
    width: 48px;
    height: 48px;
    border: 3px solid #000000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #128caa transparent;
} */
  

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #128caa;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media (max-width: 428px) {
    .section-loader {
        padding: 12em;
        height: 42.8vh;
    }
    .titulo-home {
        font-size: 2.5em;
        font-weight: bold;
    }
}