{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<section >
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div>
                <button type="submit" style="margin-top: 1em;" class="btn btn-success col-12">Entrar</button>
            </div>
            <a href="{% url 'cadastro' %}" style="margin-top: 1em;">Cadastre-se</a>
        </div>
    </form>
</section>
{% endblock %}