{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

{% if request.method == 'GET' %}

<style>
    .navegation-bar{
        display: none;
    }
</style>

{% endif %}

<section class="section-login">

    <form class="section-login-form" action="{% url 'login' %}" method="post">

        {% csrf_token %}
        <div class="login">

            <div class="titulo-e-imagem">

                <img class="logo-img" style="margin-bottom: 1em;" src="{% static '/assets/icones/logo_f.png' %}" width="100px" height="100px" alt="logo">
                <h1 class="titulo-login">Login</h1>

                <h1 class="titulo-bem-vindo-login">Bem-vindo de volta</h1>
                <img class="img-bem-vindo" src="{% static '/assets/icones/bem-vindo.png' %}" width="100px" height="100px" alt="logo">
            
            </div>

            {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                {{ field }}
            </div>
            {% endfor %}
            
            <button class="btn" type="submit" style="margin-top: 1em;">Entrar</button>

            <div class="alternativas-de-login">
                
                <p class="cadastro">Ainda não possui uma conta? <a class="cadastro-destaque" href="{% url 'cadastro' %}">Cadastre-se</a></p>
                
                <p class="cadastro">És uma empresa? <a class="cadastro-destaque" href="{% url 'login_empresa' %}">Começa aqui!</a></p>
            </div>

        </div>
    </form>
</section>
{% endblock %}             