{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<section class="section-login-form">
    <form class="section-login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="login">
            <img class="logo-img" style="margin-bottom: 1em;" src="{% static '/assets/icones/logo.png' %}" width="60px" height="60px" alt="logo">
            <h1 class="titulo-login">Login</h1>
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                {{ field }}
            </div>
            {% endfor %}
            <button class="btn" type="submit" style="margin-top: 1em;">Entrar</button>
            <br>
            <p class="cadastro">Ainda não possui uma conta? <a class="cadastro" href="{% url 'cadastro' %}">Cadastre-se</a></p>
            <br>
            <p class="cadastro">És uma empresa? <a class="cadastro" href="{% url 'login_empresa' %}">Começa aqui!</a></p>
        </div>
    </form>
</section>
{% endblock %}             