{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'upload_curriculo' %}" method="post" enctype="multipart/form-data"">
    {% csrf_token %}
    <div >
        {% for field in form.visible_fields %}
        <div>
            <label for="{{ field.id_for_label }}">{{field.label}}</label>
            {{ field }}
        </div>
        {% endfor %}
    </div>
    <div>
        <button type="submit">Salvar curriculo</button>
    </div>
</form>
{% endblock %}