
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.section-login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    background-color: var(--secundaria);
    padding: 2em;
    width: 60vh;
}

.titulo-login {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 16px;
}

.form-label {
    color: rgb(255, 255, 255);
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
}

.campo-user {
    font-family: 'Archivo', sans-serif;
    outline: unset;
    border:none;    
    font-size: 16px;
    padding-left: 16px; 
    width: 420px;
    height: 45px;
    border-radius: 12px;
}
.campo-user:focus{
    outline: 1px solid var(--destaque);
}

.btn {
    background-color: #ffff;
    color: rgb(49, 48, 48);
    height:45px;
    width: 120px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
    font-family: "Poppins", "sans-serif";
    font-size: 1em;
}

.alternativas-de-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.cadastro {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffff;
}
.cadastro-destaque {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffff;
}
.titulo-bem-vindo-cadastro {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #ffff;
}

.descricao-cadastro {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 1em;
}



.form-control {
    display: flex;
    align-items: center;
    flex-direction: column;
    resize: vertical;
    width: 420px;
    padding: 1em;
    border-radius: 7px;
    font-size: 16px;

}

.form-control:focus{
    outline: 1px solid #0053f8;
}
.img-cadastro{
    display: none;
}
.img-bem-vindo{
    display: none;
}

.titulo-bem-vindo {
    display: none;
}

@media (max-width: 428px) {

    .header {
        display: none;
    }

    .titulo-login {
        display: none;
    }

    .logo-img {
        display: none;
    }

    .section-login-form {
        background-color: var(--fundo-card-login);
    }

    .titulo-e-imagem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .img-bem-vindo{
        display: flex;
        width: 200px;
        height: 200px;
    }

    .titulo-bem-vindo-login {

        font-size: 25px;
        text-decoration: none;
        font-weight: bold;
        color: var(--destaque);
    }

    .titulo-bem-vindo-cadastro {
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        color: var(--destaque);
    }

    .descricao-cadastro {
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        color: black;
        margin-top: 0em;
    }

    .img-cadastro{
        display: flex;
        width: 140px;
        height: 140px;
    }

    .login {
        border-radius: 7px;
        padding: 2em;
        width: 80%;
        margin-top: 3em;
        background-color: var(--fundo-card-login);
    }
    .form-label {
        color: rgb(39, 39, 39);
    }
    .campo-user {
        font-size: 16px;
        padding-left: 16px; 
        width: 420px;
        height: 45px;
        border-radius: 5px;
        width: 290px;
    }

    .btn {
        background-color: var(--destaque);
        color: rgb(255, 255, 255);
        font-family: "Poppins", "sans-serif";
        font-size: 14px;
    }

    .alternativas-de-login {
        gap: 7px;
        margin-top: 10px;
    }

    .cadastro {
        color: black;
    }
    .cadastro-destaque {
        color: var(--destaque);
        text-decoration: none;
    }
}