{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<section class="tudo">

    {% if vagas %}
    {% for vagas in vagas %}

        <div class="card-vaga">

            <p class="cargo">{{ vagas.nome }}</p>

            <div class="empresa">
                <p>{{ vagas.usuario }}</p>
                <p>{{ vagas.tipo_de_vaga }}</p>
                <p>{{ vagas.local }}</p>
            </div>

            <p class="salario">{{ vagas.salario }}</p>
            <p class="descricao">{{ vagas.descricao }}<p>
            <p class="data">{{ vagas.data_publicada }}</p>
            <a class="candidatar" href="{% url 'candidatar' vagas.id %}">Canditatar-se</a>

        </div>

    {% endfor %}
    {% else %}

    <img src="{% static '/assets/icones/no-job.png' %}" alt="" width="200" height="200">

    <p class="data">Vagas não encontradas</p>

    {% endif %}

</section>

<section class="top-catagory-area section-padding-20-0">
    <div class="container">
        {% if  vagas.has_other_pages %}
        <ul class="pagination">
            {% if  vagas.has_previous %}
            <li class="page-item">
                <a href="?page={{ vagas.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
            {% endif %}
            {% for pagina in vagas.paginator.page_range %}
            {% if vagas.number == pagina %}
            <li class="page-item active">
                <a class="page-link">{{ pagina }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="?page={{pagina}}" class="page-link">{{ pagina }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if vagas.has_next %}
            <li class="page-item">
                <a href="?page={{ vagas.next_page}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</section>
<!-- <form action="{% url 'filtrar' %}" class="form-control">
    <div class="filtros">
        <button class="filtrar" type="submit">
            <select id="tipo" name="tipo">
                <option class="tipo" value="">Tipo de vaga</option>
                <option value="clt">Efetivo/CLT</option>
                <option value="pj">PJ</option>
                <option value="aprendiz">Aprendiz</option>
                <option value="estagio">estagio</option>
                <option value="diaristas">Temporário</option>
                <option value="freelancer">Freelancer</option>
            </select>
            <select id="local" name="local">
                <option value="">Local</option>
                <option value="remoto">Remoto</option>
            </select>
            <select id="idioma" name="idioma">
                <option value="idioma">Idioma da vaga</option>
                <option value="portugues">Português</option>
                <option value="english">English</option>
                <option value="espanhol">Español</option>
            </select>
        </button>
    </div>
</form> -->
{% endblock %}