{% extends 'empresas/partials_empresa/base_empresa.html' %}
{% load static %}
{% block content %}
<section>
    <form action="{% url 'cadastro_empresa' %}" method="post" >
        {% csrf_token %}
        <div class="login">
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                {{ field }}
            </div>
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            <div>
                <button class="btn" style="margin-top: 1em;" type="submit">Cadastrar</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}